<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS実績</title>

</head>
<body>
    <h1>こんにちは、世界！</h1>

    <div id="link"></div>

    <div id="result"></div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
    <script>
     import "../../scripts/rest-api.js";
    </script>
</body>
</html>
